@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
body{
    background: linear-gradient(90deg, rgba(0,17,70,1) 0%, rgba(25,2,75,1) 71%);
    font-family: 'Space Mono', monospace;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
  }

section{
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  z-index: 1;
    color: #ffffff;
}

section .icon{ width: 15rem;}
section .bio{max-width: 450px; text-align: center;}

@media only screen and (min-width: 940px){
    section {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        
    }
    section .icon {margin-right: 40px; width: 25rem;}
    section .bio{ text-align: left;}
}

.orange{ background: #F9A826; padding: 0 5px}
.bordered{border-radius: 5px}